@import url(../variables.less);

@font-face {
    font-family: Lato_Light;
    src: url(../../fonts/lato_light/lato_light.woff);
}

html {
    box-sizing: border-box;
    font-family: Lato_Light;
}

body {
    margin: 0;
    font-size: 16px;
    overflow-x: hidden;
    color: @font-color;
    &.p-overflow-hidden {
        #gramarket {
            overflow-y: scroll;
        }
    }
}

#gramarket {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    min-height: 100vh;
}

.main-wrapper {
    max-width: @screen-max-width;
    margin: 0 auto;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: @screen-max-width;
    padding-left: @container-padding;
    padding-right: @container-padding;
}

.navigation {
    background-color: @main-store-color;
}


.menu-sidebar {
    transition: all 0.1s linear;
    top: 92px;
    .p-sidebar-content {
        display: flex;
        height: 100%;
    }
    &.header_fixed {
        top: 73px;
    }
    &.child-level-visible {
        width: 90%;
        max-width: 1200px;
    }
}

.p-sidebar-mask.p-component-overlay {
    top: 92px;
}

.menu-sidebar.header_fixed+.p-sidebar-mask.p-component-overlay {
    top: 73px;
}